
.section{
    margin:25px 100px 25px 100px;
    padding:10px;
    border:2px solid grey;
    box-shadow: 2px 2px 6px grey;
}

.que-title{
    background-color: darkred;
    color:white;
    padding:10px;
    margin:0px;
}

.que{
    color:darkgrey;
    font:normal 16px 'arial';
}

.form-label{
    font:bold 12px 'arial';
    margin:3px 0px 3px 0px;
}

.btn-group{
    padding:5px;
}

.btn-group button{
    border:0px;
    padding:8px;
    background-color: darkred;
    color:white;
    box-shadow: 2px 2px 3px;
}

.btn-group button:hover{
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}
.li-1{
    font-size: large;
}
.li-2{
    font-size:large;
}
